<div class='header'>
  <a class="logo" href="/"><%= render "shared/logo" %></a>
  <% if user_signed_in? %>
    <div class='header-menu'>
      <%= link_to 'Historique', history_path, class: "" %>
      <hr>
      <%= link_to 'Trousseaux', bunches_path, class: "" %>
      <hr>
      <%= link_to 'Profil', user_path(current_user), class: "" %>
      <hr>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "" %>
    </div>
  <% else %>
    <div class='header-menu'>
      <%= link_to t(".sign_in", default: "SE CONNECTER"), new_user_session_path %>
      <hr>
      <%= link_to t(".sign_up", default: "S'INSCRIRE"), new_user_registration_path %>
  </div>
  <% end %>
</div>
