
<div class="banner-top">
  <div class="col-md-8 .col-md-offset-2">
  <h1>NE PAYEZ PAS UNE FORTUNE POUR UN SERRURIER
<font color="#18AEED">CONFIEZ-NOUS VOTRE DOUBLE DE CLÉ</font></h1>
  </div>
  <div class="col-md-2 .col-md-offset-5">
  <%= link_to t(".top_call_to_action", default: "CONFIER MON DOUBLE DE CLÉ"), new_subscription_path , class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</div>


  <div class="blue-block">
    <div class="container">
      <div class="row">
          <h2>COMMENT ÇA MARCHE ?</h2>

          <div class="col-md-4">
            <div class="text-center">
            <%= image_tag "key.png"%>
            </div>
            <h3>CONFIEZ-NOUS VOTRE DOUBLE DE CLÉ</h3>
            <p>Un livreur Keyyys vient chercher votre double de clé où et quand vous le voulez.
  Vous n'avez pas à vous déplacer !</p>
          </div>
          <div class="col-md-4">
            <div class="text-center">
            <%= image_tag "vault.png"%>
            </div>
            <h3>NOUS LE STOCKONS DANS UN LIEU SÉCURISÉ</h3>
            <p>Chaque clé est anonyme et mise sous enveloppe scellée.
  Nous ne conservons pas votre adresse.</p>
          </div>
          <div class="col-md-4">
            <div class="text-center">
            <%= image_tag "bike.png"%>
            </div>
            <h3>RÉCUPÉREZ-LE QUAND ET OÙ VOUS VOULEZ</h3>
            <p>En cas de besoin, nous vous livrons votre double de clé dans l'heure 24h/24, 7j/7.
  Un de nos livreurs vous retrouve à l'endroit de votre choix.</p>
          </div>

        </div>
      </div>
    </div>
  </div>


<div class="features bg-gradient padded text-center">
  <div class="container">
    <div class="row">
        <h2>NOTRE ZONE DE SERVICE</h2>
    </div>
  </div>
  <div class="keyyys-map">
  <%= image_tag "keyyys-map.jpg", :class => "map_style_image"%>
</div>
</div>


<div class="features bg-gradient padded text-center">
  <div class="container">
    <div class="row">
      <div class="card-price">
        <h2>UN ABONNEMENT ANNUEL</h2>
        <div class="price">
          <h3>29.90</h3>
          <h4>€ / an</h4>
        </div>
        <ul>
          <li>Prise en charge</li>
          <li>Stockage en sécurité</li>
          <li>Première récupération</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="features bg-gradient padded text-center">
  <div class="container">
    <div class="row">

    </div>
  </div>
<div class="features bg-gradient padded text-center">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <%= link_to t(".top_call_to_action", default: "CONFIER MON DOUBLE DE CLÉ"), new_subscription_path , class: "navbar-wagon-item navbar-wagon-button btn cta_keys" %>
      </div>
    </div>
  </div>
</div>

<div class="bottom-bis">
  <div class="container">
    <div class="row">
        <p>Copyright 2015 Keyyys | Tous droits réservés</p>
    </div>
  </div>
</div>


