<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Confiez-nous vos clefs</h1>
        <%= simple_nested_form_for @subscription, remote: true do |f| %>
          <h3>Où pouvons-nous les récupérer ?</h3>
          <%= f.input :rdv_location, placeholder: "Lieu de rendez-vous" %>
          <%= f.input :rdv_date, as: :date, placeholder: "Date de rendez-vous" %>

          <div class="form-group">
            <label for="rdv-hour">Quel heure vous arrange ?</label>
            <select name="rdv_hour" class="form-control" id="rdv-hour">
              <option value="19:00">19h</option>
              <option value="19:30">19h30</option>
              <option value="20:00">20h</option>
              <option value="20:30">20h30</option>
              <option value="21:00">19h</option>
              <option value="21:30">19h30</option>
              <option value="22:00">20h</option>
              <option value="22:30">20h</option>
              <option value="23:00">20h30</option>
              <option value="23:30">20h</option>
              <option value="00:00">20h30</option>
            </select>
          </div>

          <hr>
          <h3>Pour quels trousseaux ?</h3>
          <%= f.simple_fields_for :bunches do |bunch_form| %>
            <%= bunch_form.input :name, label: "Test", placeholder: "Trousseau bureau" %>
            <%= bunch_form.input :description %>
            <%= bunch_form.input :number_of_items %>
            <%= bunch_form.link_to_remove do %>
              <i class="fa fa-close"></i> Supprimer ce trousseau
            <% end %>
          <% end %>
          <p>
            <%= f.link_to_add :bunches do %>
              <i class='fa fa-plus'></i> Ajouter un trousseau
            <% end %>
          </p>
        <%= f.submit :subscribe, value: "Créer mon abonnement", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation de rendez-vous</h4>
      </div>
      <div class="modal-body">
        Nous avions bien pris en compte votre demande et un livreur de Keyyys viendra chercher votre double de clé.
      </div>
      <div class="modal-footer">

       <%= link_to subscription_path(current_user), class: "btn btn-primary js-modal-subscription-creation" do %>
         <p>Mon profil</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


