<h1>Mon abonnement</h1>



<ul>

  <li><%= @subscription.rdv_location %></li>
  <li><%= @subscription.rdv_date %></li>
  <% @subscription.bunches.each do |bunch| %>
    <li>Nom du trousseau : <%= bunch.name %></li>
    <li>Description : <%= bunch.description %></li>
     <li>Clés <%= bunch.number_of_items %>  </li>


  <% end %>
</ul>

<%= link_to 'Récupérer votre trousseau', new_subscription_path, class: "btn btn-primary" %>
<%= link_to 'Ajouter des nouveaux trousseaux', new_subscription_path, class: "btn btn-primary" %>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#addBunch').on('click', function() {
        $('#new_bunch').removeClass('hidden')
      })
    })
  <% end %>
<% end %>
