<!DOCTYPE html>
<html>
  <head>
    <title>Keyyys</title>
   <!--  <link rel="icon" type="image/x-icon" href="keyyys-favincon.png"> -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "keyyys-favincon.png" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBs2UpqpSVwyXHFKyMsH4WJOD4Nq1-K2ZI">
    </script>

    <%= javascript_include_tag "application" %>

    <%= yield :after_js %>
  </body>
</html>
